---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import BaseLayout from "../layouts/BaseLayout.astro";

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob("./blog/**/*.{md,mdx}"))
	.filter((post) => !!post.frontmatter.isPublished)
	.sort(
		(a, b) =>
			new Date(b.frontmatter.pubDate).valueOf() -
			new Date(a.frontmatter.pubDate).valueOf()
	);
---

<BaseLayout>
	<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />

	<Header />
	<main class="px-4">
		<content>
			<ul>
				{
					posts.map((post) => (
						<li class="my-4 text-xl">
							<div class="flex flex-col">
								<a class="underline hover:text-success" href={post.url}>
									{post.frontmatter.title}
								</a>
								<div class="text-xs font-semibold">
									<time datetime={post.frontmatter.pubDate}>
										{new Date(post.frontmatter.pubDate).toLocaleDateString(
											"en-us",
											{
												year: "numeric",
												month: "short",
												day: "numeric",
											}
										)}
									</time>
									<span class="text-gray-900">
										({post.frontmatter.minutesRead})
									</span>
								</div>
							</div>
						</li>
					))
				}
			</ul>
		</content>
		<Footer />
	</main>
</BaseLayout>
